
.header-card-pop{
    position: absolute;
    top: 150px;
    left: 110px;
    background-color: white;
    padding: 24px;
    width: 440px;

}
.header-img{
    width: 100%;
    min-height: 240px;
}
.header-card-pop h1{
    font-family: serif;
    font-size: 40px;
    margin-bottom: 8px;
}
.header-card-pop p{
    font-size: 25px;
    font-weight: 400;
}
.header-card{
    margin: 0 24px;
    display: none;
}
.header-photo{
    max-width: 100%;
}